---
import Layout from "../layouts/Layout.astro";
import HeroContacto from "../components/HeroContacto.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="contacto-page">
  <HeroContacto />
  <main>
    <Contacto />
  </main>
  <script>
    import "../js/validacion-form";
  </script>
</Layout>
