---
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/Proyectos.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="proyectos-page">
  <main>
    <!--TODO: falta loading-->
    <Proyectos />
  </main>
  <script>
    import "../js/fetch-proyectos";
  </script>
</Layout>
