---
import Layout from "../layouts/Layout.astro";
import Proyecto from "../components/Proyecto.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="proyecto-page">
  <main>
    <Proyecto />
  </main>
  <script>
    import "../js/fetch-proyecto";
  </script>
</Layout>
