---
import Layout from "../layouts/Layout.astro";
import Servicios from "../components/Servicios.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="servicios-page">
  <main>
    <Servicios />
  </main>
</Layout>
