---
import Layout from "../layouts/Layout.astro";
import SobreMi from "../components/SobreMi.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="sobre-mi-page">
  <main>
    <SobreMi />
  </main>
</Layout>
