---

---

<section id="zona-administracion" class="contenedor sombra zona-administracion">
  <h2>Administración de proyectos</h2>
  <div class="nuevo-proyecto-btn">
    <a href="/admin/proyecto" class="boton">Nuevo&nbsp;Proyecto</a>
  </div>
  <h3>Proyectos</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Imagen</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Ecomerce-put</td>
          <td>
            <img src="/img/pr.png" />
          </td>
          <td
            >Maecenas malesuada ornare libero vitae pharetra. In eget nibh ac
            ex\r\n consectetur congue. Vestibulum auctor varius dapibus. Sed et
            pulvinar\r\n dui. Donec sit amet faucibus metus. Etiam maximus augue
            ut libero\r\n sollicitudin, id condimentum leo posuere. Ut cursus
            ligula nisl, quis\r\n blandit eros facilisis sed. Fusce auctor
            eleifend sapien, nec placerat\r\n dui gravida faucibus. Donec
            vestibulum massa eget metus suscipit, et\r\n fringilla neque
            laoreet. Etiam laoreet rhoncus sollicitudin. Nulla sem\r\n dui,
            eleifend quis ultricies vitae, dapibus laoreet nibh. Cras
            maximus,\r\n justo non lobortis molestie, eros mauris ornare felis,
            sed accumsan\r\n ligula tellus vitae felis.</td
          >
          <td>
            <a href="/admin/proyecto/#/1" class="boton">Actualizar</a>
            <a href="" class="boton">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
