---
import iconoHamburguesa from "../assets/img/ti-menu2.svg";
export interface Props {
  classNamePage: string;
}

const { classNamePage } = Astro.props;
---

<header>
  <div id="menu-movil" class="menu-movil">
    <img
      id="menu-icon"
      src={iconoHamburguesa.src}
      alt="icono menu responsive"
    />
  </div>
  <nav id="navegacion-principal" class="navegacion-principal">
    <a class={classNamePage === "index-page" ? "seleccionado" : null} href="/"
      >Inicio</a
    >
    <a
      class={classNamePage === "sobre-mi-page" ? "seleccionado" : null}
      href="/sobre-mi">Sobre Mi</a
    >
    <a
      class={classNamePage === "servicios-page" ? "seleccionado" : null}
      href="/servicios">Servicios</a
    >
    <a
      class={classNamePage === "proyectos-page" ? "seleccionado" : null}
      href="/proyectos">Proyectos</a
    >
    <a
      class={classNamePage === "contacto-page" ? "seleccionado" : null}
      href="/contacto">Contacto</a
    >
  </nav>
</header>
