---
import iconoUbicacion from "../assets/img/ti-mapPin.svg";
---

<section class="hero">
  <div class="contenido-hero">
    <h2>Diseño y Desarrollo Web</h2>
    <div class="ubicacion">
      <img src={iconoUbicacion.src} alt="icono de ubicacion" />
      <p>Valencia, España</p>
    </div>
    <a class="boton" href="/contacto">Contactar</a>
  </div>
  <!-- .contenido-hero -->
</section>
