---

---

<section id="proyecto" class="contenedor sombra proyecto">
  <div id="error-fetch-proyecto" class="errores"></div>
  <!--<h2 class="max-w-md titulo-proyecto">Administrador de tareas</h2>-->
  <!--<div class="max-w-md imagen-proyecto">-->
  <!--  <img src="/img/pr.png" alt="imagen administrador tareas" loading="lazy" />-->
  <!--</div>-->
  <!--<div class="max-w-md texto-proyecto">-->
  <!--  <p class="fecha-proyecto">Fecha del proyecto: <span>20/10/2022</span></p>-->
  <!--  <p class="descripcion-proyecto">-->
  <!--    Quisque finibus neque nulla, et posuere nulla gravida ac. Aenean pulvinar-->
  <!--    finibus odio, a ornare risus convallis ut. Morbi tincidunt volutpat diam-->
  <!--    ut dignissim. Phasellus sem arcu, hendrerit vel ipsum ac, convallis ornare-->
  <!--    neque. Pellentesque efficitur massa lacus, nec tempor risus euismod at.-->
  <!--    Duis cursus accumsan iaculis. Suspendisse sit amet ante sollicitudin,-->
  <!--    bibendum augue sed, sagittis lacus. Curabitur ornare eu tortor non-->
  <!--    commodo. Orci varius natoque penatibus et magnis dis parturient montes,-->
  <!--    nascetur ridiculus mus. Morbi ut turpis posuere, bibendum ante non,-->
  <!--    elementum lacus. Nunc maximus faucibus tempus. Praesent tempor vestibulum-->
  <!--    tellus, quis tristique lectus tincidunt ut. Phasellus maximus, enim eget-->
  <!--    rutrum elementum, ante dui scelerisque mi, id mattis quam mi non dolor.-->
  <!--    Proin sodales leo nec ipsum cursus bibendum. Pellentesque at augue-->
  <!--    pretium, interdum tortor vel, elementum nisi. Phasellus iaculis nisi in-->
  <!--    elit efficitur, vitae pharetra nunc volutpat. Proin condimentum-->
  <!--    scelerisque molestie.-->
  <!--  </p>-->
  <!--</div>-->
</section>
