---

---

<section id="proyectos" class="contenedor sombra proyectos">
  <h2>Proyectos</h2>
  <!--<article class="entrada-proyectos">-->
  <!--  <div class="imagen-proyecto">-->
  <!--    <img src="/img/pr.png" alt="imagen administrador tareas" loading="lazy" />-->
  <!--  </div>-->
  <!--  <div class="texto-proyecto">-->
  <!--    <h3 class="titulo-proyecto">Administrador de tareas</h3>-->
  <!--    <p class="fecha-proyecto">Fecha del proyecto: <span>20/10/2022</span></p>-->
  <!--    <p class="descripcion-proyecto">-->
  <!--      Suspendisse et congue augue. Maecenas eleifend consequat fermentum. Duis-->
  <!--      vitae hendrerit enim, ac rhoncus risus.-->
  <!--    </p>-->
  <!--  </div>-->
  <!--</article>-->
</section>
