---
import iconoTwitter from "../assets/img/svgrepo-twitter.svg";
---

<section class="zona-titulo">
  <h1>Jose&nbsp;Ramón <span>Programador&nbsp;Web</span></h1>
  <a
    class="twitter-link"
    href="https://twitter.com/JoseRamonSolvam"
    target="_blank"
  >
    <img src={iconoTwitter.src} alt="icono de Twitter" />
    <p class="tooltip-twitter">Mi&nbsp;Twitter</p>
  </a>
</section>
